body {
    width: 100%;
    height: 100%;
    color: #fff;
    margin: 0;
    text-align: center;
    background: #03b0f0 url(images/IMG4.jpg) no-repeat center fixed;
    font-size: 16px;
    font-family: sans-serif;
}

html {
    width: 100%;
    height: 100%;
    font-size: 100%;
    /* Base font-size of 16px */
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url(images/code.jpg) no-repeat bottom center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    word-wrap: break-word
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
    font-size: 40px;
}

.intro .intro-body .intro-text {
    font-size: 18px;
}

@media(min-width:768px) {
    .intro {
        height: 100%;
        padding: 1;
    }
    .intro .intro-body .brand-heading {
        font-size: 100px;
    }
    .intro .intro-body .intro-text {
        font-size: 26px;
    }
}

.btn-circle {
    width: 70px;
    height: 70px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 100%!important;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255, 255, 255, .1);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

.image {
    content: url(images/hstat.png);
    margin: 0 auto;
    height: auto;
    padding-bottom: 20px;
    animation-delay: 1s;
}

#Projects {
    background-color: #2072Bc;
}

.servive-block-aqua {
    background: #27d7e7;
}

i.icon-2x {
    font-size: 30px;
}

.color-light {
    color: #FFFFFF;
}

i.icon-2x {
    font-size: 30px;
}

.color-light {
    color: #FFFFFF;
}


/*Colored Content Boxes
------------------------------------*/

#callout {
    background-size: cover;
    padding: 0 0 0% 0;
    font-weight: bolder;
    font-family: Montserrat;
    font-size: 17px;
    line-height: 19px;
    height: auto;
    margin: auto;
    word-wrap: break-word
}

#features {
    margin-top: 20px;
}

.jumbotron-icon {
    padding: 30px 0 25px;
    background-color: #eee;
    color: #222;
    border-bottom-color: #d1d1d1;
    border-top-color: #f7f7f7;
    font-size: 19px;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: auto;
    line-height: 29px;
    word-wrap: break-word
}

#op {
    padding: 30px 0 25px;
    background-color: #eea;
    color: black;
    height: auto;
    font-size: 19px;
    line-height: 39px;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: auto;
    word-wrap: break-word
}

#star {
    font-size: 2em;
    color: purple;
}

#req {
    padding: 30px 0 25px;
    background-color: #9400D3;
    margin: auto;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: auto;
    font-size: 26px;
    font-family: sans-serif;
}

#book {
    font-size: 2em;
    color: #eea;
}

#wrench {
    font-size: 2em;
    color: #2072Bc;
}

#title {
    padding: 30px 0 25px;
    color: yellow;
    word-wrap: break-word;
    font-size: 2em;
}

#btn:hover {
    color: #f04e45;
    border-color: #f04e45;
    border-radius: 22px;
    padding: .5em 1.2em;
    background-color: yellow;
    border: 1px solid;
    transform: scale(.9);
    -webkit-transition: all 0.4s ease-in-out;
}

#btn {
    display: inline-block;
    margin-bottom: 0;
    font-size: 25px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    background-color: #f04e45;
    color: white;
    border-radius: 30px;
    padding: 0.9em 2em;
    margin-top: 1em;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

#wrapper {
    display: flex;
}

#left {
    flex: 0 0 50%;
    background: lightgreen;
    padding: 30px 0 25px;
    font-size: 19px;
    line-height: 29px;
    margin: auto;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: auto;
    color: purple;
}

#down {
    -webkit-animation: glowing 1500ms infinite;
}

#top {
    background: url(images/scode1.jpg) no-repeat top fixed;
    background-size: 100%;
}

#where {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

#where img.wide {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

#where img.tall {
    max-height: 100%;
    max-width: 100%;
    width: auto;
}

#text {
    background-color: #9400D3;
    padding: 30px 0 25px;
    margin: auto;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: auto;
    font-size: 30px;
    color: lightgreen;
}

.overflow {
    margin: 0 0 2em 0;
    /**
   * Required properties to achieve text-overflow
   */
    white-space: nowrap;
    overflow: hidden;
}

.footer-basic-centered {
    background-color: #eea;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    font: normal 18px Montserrat;
    padding: 25px;
    margin-top: 80px;
    color: purple;
}

footer {
    bottom: 0;
}

#head {
    padding: 30px 0 25px;
    color: yellow;
    font-size: 2em;
    letter-spacing: 6px;
}

.retro {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin: 0 auto;
    border: none;
    font: normal 62px/normal "Montserrat", Lora, sans-serif;
    text-align: center;
    text-transform: uppercase;
    -o-text-overflow: clip;
    text-overflow: clip;
    letter-spacing: 2px;
    text-shadow: 2px 2px 0 rgb(238, 238, 238), 6px 6px 0 rgb(112, 112, 112);
    color: blue;
}

#first {
    font-size: 30px;
}

@-webkit-keyframes glowing {
    0% {
        background-color: #004A7F;
        -webkit-box-shadow: 0 0 3px #004A7F;
    }
    50% {
        background-color: #0094FF;
        -webkit-box-shadow: 0 0 10px #0094FF;
    }
    100% {
        background-color: #004A7F;
        -webkit-box-shadow: 0 0 3px #004A7F;
    }
}

@-moz-keyframes glowing {
    0% {
        background-color: #004A7F;
        -moz-box-shadow: 0 0 3px #004A7F;
    }
    50% {
        background-color: #0094FF;
        -moz-box-shadow: 0 0 10px #0094FF;
    }
    100% {
        background-color: #004A7F;
        -moz-box-shadow: 0 0 3px #004A7F;
    }
}

@-o-keyframes glowing {
    0% {
        background-color: #004A7F;
        box-shadow: 0 0 3px #004A7F;
    }
    50% {
        background-color: #0094FF;
        box-shadow: 0 0 10px #0094FF;
    }
    100% {
        background-color: #004A7F;
        box-shadow: 0 0 3px #004A7F;
    }
}

@keyframes glowing {
    0% {
        background-color: #004A7F;
        box-shadow: 0 0 3px #004A7F;
    }
    50% {
        background-color: #0094FF;
        box-shadow: 0 0 10px #0094FF;
    }
    100% {
        background-color: #004A7F;
        box-shadow: 0 0 3px #004A7F;
    }
}

@media screen and (min-width: 1920px) {
    html {
        font-size: 200%;
        /* Base font-size of 32px */
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) and (min-width:400px) {
    body {
        white-space: nowrap;
    }
}

@media only screen and (max-width: 800px) {
    body {
        font-size: 100%;
    }
}

@media only screen and (max-width: 1100px) {
    body {
        font-size: 120%;
    }
}

@media only screen and (min-width: 1100px) {
    body {
        font-size: 120%;
    }
    .wrap {
        max-width: 770px;
    }
}



@media all and (min-width: 960px) {
    body{
        font-size: 18px;
    }
}
 
@media all and (max-width: 959px) and (min-width: 600px) {
    body{
        font-size: 16px;
    }
}
 
@media all and (max-width: 599px) and (min-width: 320px) {
    body{
        font-size: 12px;
    }
 
}